body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Desktop (very-narrow) */
@media only  screen and (max-width: 1060px)
{
    .container {
        -webkit-column-count: 2;
        column-count: 2;
        display: box;
        border: 1px solid black;
        padding: 0em 2em 4em 0em;
        width: 48em;
        height: 70em;
    }

    .tweet {
        /* box-flex: 1; */
        background-color: lightgrey;
        width: 18em;
        height: 12em;
        margin: 2em 0em 2em 4em;
        padding: 1em 1em 1em 1em;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        /* text-align: justify; */
        word-wrap: break-word;
    }
}

/* Desktop (narrow) */
@media only  screen and (min-width: 1060px) and (max-width: 1380px)
{
    .container {
        -webkit-column-count: 3;
        column-count: 3;
        display: box;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0em 2em 4em 0em;
        height: 56em;
        width: 140em;
    }

    iframe {
        height: 17em;
        width: 33em;
        seamless: seamless;
    }
    .tweet {
        /* box-flex: 1; */
        /* backgrpound-color: lightgrey; */
        height: 17em;
        width: 33em;
        margin: 2em 0em 2em 2em;
        padding: 0em 0em 0em 0em;
        /* border: 1px solid black; */
        -webkit-box-shadow:5px 7px 0px 3px #000;
        border-radius: 5px;
    /*     box-sizing: border-box; */
    /*     /\* text-align: justify; *\/ */
        word-wrap: break-word;
    }
}

/* Desktop (wide) */
@media only  screen and (min-width: 1380px) and (max-width: 1720px)
{
    .container {
        -webkit-column-count: 4;
        column-count: 4;
        display: box;
        border: 1px solid black;
        padding: 0em 2em 4em 0em;
        width: 96em;
        height: 42em;
    }

    .tweet {
        /* box-flex: 1; */
        background-color: lightgrey;
        width: 18em;
        height: 12em;
        margin: 2em 0em 2em 4em;
        padding: 1em 1em 1em 1em;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        /* text-align: justify; */
        word-wrap: break-word;
    }
}

/* Desktop (extra-wide) */
@media only  screen and (min-width: 1720px)
{
    .container {
        -webkit-column-count: 5;
        column-count: 5;
        display: box;
        border: 1px solid black;
        padding: 0em 2em 4em 0em;
        width: 120em;
        height: 28em;
    }

    .tweet {
        /* box-flex: 1; */
        background-color: lightgrey;
        width: 18em;
        height: 12em;
        margin: 2em 0em 2em 4em;
        padding: 1em 1em 1em 1em;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        /* text-align: justify; */
        word-wrap: break-word;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
    .container {
        -webkit-column-count: 3;
        column-count: 3;
        display: box;
        border: 1px solid black;
        padding: 0em 2em 4em 0em;
        width: auto;
        height: 40em;
        font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .tweet {
        /* box-flex: 1; */
        background-color: lightgrey;
        width: 18em;
        height: 8em;
        margin: 2em 0em 1em 3em;
        padding: 1em 1em 1em 1em;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        /* text-align: justify; */
        word-wrap: break-word;
    }
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
    .container {
        -webkit-column-count: 2;
        column-count: 2;
        display: box;
        border: 1px solid black;
        padding: 0em 2em 4em 0em;
        max-width: 75em;
        height: 60em;
    }

    .tweet {
        /* box-flex: 1; */
        background-color: lightgrey;
        width: 24em;
        height: 10em;
        margin: 2em 0em 1em 3em;
        padding: 1em 1em 1em 1em;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        /* text-align: justify; */
        word-wrap: break-word;
    }
}
