body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Desktop (very-narrow) */
@media only  screen and (max-width: 880px)
{
    .container {
        -webkit-column-count: 1;
        column-count: 1;
        display: box;
        /* border: 1px solid black; */
        border-radius: 5px;
        padding: 0em 0em 0em 0em;
        height: auto;
        width: auto;
    }

    iframe {
        height: 16em;
        width: 38em;
        /* seamless: seamless; */
    }
    .tweet {
        /* box-flex: 1; */
        /* backgrpound-color: lightgrey; */
        height: 16em;
        width: 38em;
        margin: 0em 0em 0em 0em;
        padding: 1em 0em 0em 0em;
        /* border: 1px solid black; */
        -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
        border-radius: 0px;
    /*     box-sizing: border-box; */
    /*     /\* text-align: justify; *\/ */
        /* overflow: hidden; */
        word-wrap: break-word;
        overflow: hidden;
    }
}

/* Desktop (narrow) */
@media only  screen and (min-width: 880px) and (max-width: 1280px)
{
    .container {
        -webkit-column-count: 2;
        column-count: 2;
        display: box;
        /* border: 1px solid black; */
        border-radius: 5px;
        padding: 0em 0em 0em 0em;
        height: 88em;
        width: auto;
    }

    iframe {
        height: 16em;
        width: 38em;
        /* seamless: seamless; */
    }
    .tweet {
        /* box-flex: 1; */
        /* backgrpound-color: lightgrey; */
        height: 16em;
        width: 38em;
        margin: 0em 0em 0em 0em;
        padding: 1em 0em 0em 0em;
        /* border: 1px solid black; */
        -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
        border-radius: 0px;
    /*     box-sizing: border-box; */
    /*     /\* text-align: justify; *\/ */
        /* overflow: hidden; */
        word-wrap: break-word;
        overflow: hidden;
    }
}

/* Desktop (wide) */
@media only  screen and (min-width: 1280px) and (max-width: 1880px)
{
    .container {
        -webkit-column-count: 3;
        column-count: 3;
        display: box;
        /* border: 1px solid black; */
        border-radius: 5px;
        padding: 0em 0em 0em 0em;
        height: auto;
        width: auto;
    }

    iframe {
        height: 16em;
        width: 38em;
        /* seamless: seamless; */
    }
    .tweet {
        /* box-flex: 1; */
        /* backgrpound-color: lightgrey; */
        height: 16em;
        width: 38em;
        margin: 0em 0em 0em 0em;
        padding: 1em 0em 0em 0em;
        /* border: 1px solid black; */
        -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
        border-radius: 0px;
    /*     box-sizing: border-box; */
    /*     /\* text-align: justify; *\/ */
        /* overflow: hidden; */
        word-wrap: break-word;
        overflow: hidden;
    }
}

/* Desktop (very wide) */
@media only  screen and (min-width: 1880px)
{
    .container {
        -webkit-column-count: 4;
        column-count: 4;
        display: box;
        /* border: 1px solid black; */
        border-radius: 5px;
        padding: 0em 0em 0em 0em;
        height: auto;
        width: auto;
    }

    iframe {
        height: 16em;
        width: 38em;
        /* seamless: seamless; */
    }
    .tweet {
        /* box-flex: 1; */
        /* backgrpound-color: lightgrey; */
        height: 16em;
        width: 38em;
        margin: 0em 0em 0em 0em;
        padding: 1em 0em 0em 0em;
        /* border: 1px solid black; */
        -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
        border-radius: 0px;
    /*     box-sizing: border-box; */
    /*     /\* text-align: justify; *\/ */
        /* overflow: hidden; */
        word-wrap: break-word;
        overflow: hidden;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
    .container {
        -webkit-column-count: 2;
        column-count: 2;
        display: box;
        /* border: 1px solid black; */
        border-radius: 5px;
        padding: 0em 0em 0em 0em;
        height: 88m;
        width: auto;
        /* font: 12px "Lucida Grande", Helvetica, Arial, sans-serif; */
    }

    iframe {
        height: 16em;
        width: 38em;
        /* seamless: seamless; */
    }
    .tweet {
        /* box-flex: 1; */
        /* backgrpound-color: lightgrey; */
        height: 16em;
        width: 38em;
        margin: 0em 0em 0em 0em;
        padding: 1em 0em 0em 0em;
        /* border: 1px solid black; */
        -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
        border-radius: 0px;
    /*     box-sizing: border-box; */
    /*     /\* text-align: justify; *\/ */
        /* overflow: hidden; */
        word-wrap: break-word;
        overflow: hidden;
        /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif!important; */
    }
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
    .container {
        -webkit-column-count: 2;
        column-count: 2;
        display: box;
        /* border: 1px solid black; */
        border-radius: 5px;
        padding: 0em 0em 0em 0em;
        height: 88m;
        width: 70em;
        /* font: 12px "Lucida Grande", Helvetica, Arial, sans-serif; */
    }

    iframe {
        height: 16em;
        width: 38em;
        /* seamless: seamless; */
    }
    .tweet {
        /* box-flex: 1; */
        /* backgrpound-color: lightgrey; */
        height: 16em;
        width: 38em;
        margin: 0em 0em 0em 0em;
        padding: 1em 0em 0em 0em;
        /* border: 1px solid black; */
        -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
        border-radius: 0px;
    /*     box-sizing: border-box; */
    /*     /\* text-align: justify; *\/ */
        /* overflow: hidden; */
        word-wrap: break-word;
        overflow: hidden;
        /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif!important; */
    }
}
